language = "cpp"
run = "clang++ -std=c++17 -Wno-exit-time-destructors -Weverything -Wno-padded -Wno-deprecated -Wno-c++98-compat -Wno-missing-prototypes main.cpp District.cpp Divisions.cpp Gym.cpp PizzaStore.cpp School.cpp Wrappers.cpp && ./a.out"

